# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# AWS Cloud9 specific
environment/

# Operating System related
.DS_Store  # For Mac
Thumbs.db  # For Windows
